@import "tailwindcss" layer(base);

:root {
    --background: #f5f2f2;
    --foreground: #dddddd;
    --text: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-text: var(--text);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-nunito);
    width: 100dvw;
    max-width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
}

.header-font {
    font-family: var(--font-belleza);
}

#logo {
    font-family: var(--font-logo);
}

.smooth-transition {
    transition: ease-in-out;
    transition-duration: 0.25s;
}
